@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container__main {
  position: relative;
  background-image: url("../../../public/fondo_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.container__logo {
  margin-top: 20px;
  margin-right: 15rem;
  width: 400px;
  margin-bottom: 20px;
}

.slider {
  width: 550px; /* Ajusta el tamaño del slider */
  margin: 0 auto;
}

.slick-slide {
  outline: none; /* Elimina el contorno cuando se hace clic */
}

.slick-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_slider img {
  width: 100%;
  height: auto;
}

.text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.text_section h2, 
.text_section p {
  color: white;
}

.text_section h2 {
  font-size: 2.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.text_section p {
  font-size: 1.5rem;

}

.text_section h2 span {
  color: #1e90ff; /* Puedes cambiar esto al color que desees */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  background-color: #0c22d6;
  color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.container__home {
  display: flex;
  align-items: center;
  z-index: 2;
  gap: 40px;
}

.text__empresa h4 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

.customDots {
  position: absolute;
  bottom: -30px; /* Ajusta la posición de los puntos */
  width: 100%;
  display: flex;
  justify-content: center;
}

.customDots ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.customDots li {
  margin: 0 5px;
}

.dotButton {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(241, 7, 7, 0.5); /* Color de los puntos no activos */
  border: none;
  cursor: pointer;
}

.dotButton:hover,
.slick-dots li.slick-active button {
  background-color: #1e90ff; /* Color para el punto activo */
  opacity: 1;
}
