
.container__main {
    background-color: #4983ed;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.container__purple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8519fd;
    border-radius: 0 0 50px 50px;
}